.flag {
  width: 150px;
  height: 100px;
  display: flex;
  margin: 5px;
}

.horizontal {
  flex-direction: column;
}

.vertical {
  flex-direction: row;
}

.flag > * {
  width: 100%;
  height: 100%;
  display: flex;
}

.circle {
  border-radius: 50%;
}